/* Component: Dialog */

.dialog {
	position: fixed;
	width: min(30rem, 100% - 2.5rem);
	border: 1px solid var(--clr-neutral-7);
	border-radius: var(--radius-lg);
	background-color: var(--clr-neutral-2);
}

.dialog::backdrop {
	background-color: var(--clr-neutral-12);
	opacity: 0.75;
}

.dialog__body {
	display: grid;
	gap: var(--spacing-sm);
}

.dialog__heading {
	color: var(--clr-danger-11);
	font-size: var(--font-size-xl);
}

.dialog__description {
	color: var(--clr-neutral-11);
	font-size: var(--font-size-sm);
}

.dialog__foot {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-md);
}
